.title-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.titletxt-container {
    width: 50%;
}

.title-name {
    color: #ffffff;
    font-size: 72px;
}

.title-description {
    color: #63b7e7;
    width: 100%;
}

.title-container img {
    width: 30%;
    height: auto;
}